*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(251, 255, 0, 0.418); 
}

::-webkit-scrollbar{
    width: 0;
}

nav{
    width: 100%;
    height: 5vw;
    padding: 0 3vw;
    background-color: rgb(0, 9, 134);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    /* width: 5vw; */
    height: 100%;
    display: flex;
    align-items: center;
}

.logo .logo-img{
    width: 4vw;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .logo a{
    width: 100%;
    height: 100%;
} */

.logo-img img{
    width: 90%;
    height: 90%;
}

.logo .logo_txt{
    padding-top: 0.2vw;
    color: white;
    /* font-size: 2vw; */
    line-height: 1;
    color: yellow;
}

nav .search{
    width: 20%;
    height: 100%;
    margin-left: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input[type='search']{
    height: 50%;
    width: 100%;
    padding-left: 1.5vw;
    border-radius: 20px;
    border: none;
}

nav .nav_links{
    height: 100%;
    margin-right: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.link{
    padding: 1.3vw 0;
    font-size: 1.5vw;
    color: white;
    margin: 0 1vw;
    transition: 0.2s;
    border-bottom: 3px solid transparent;
}

.link:hover{
    color: yellow;
    border-bottom: 3px solid yellow;

}

.sect1{
    width: 100%;
    /* height: 50vh; */
    margin-top: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.sect1 .left{
    width: 50%;
    padding: 0 0vw 0 5vw;
}

.left .heading{
    margin-bottom: 2vw;
}

.left .para{
    width: 95%;
    line-height: 1.2;
}

.left .btn_link{
    padding: 0.8vw 1.5vw;
    color: white;
    background: rgb(0, 9, 134);
    border: 1px solid rgba(0, 0, 255, 0.322);
    border-radius: 20px;
    transition: 0.2s;
}
.btn_link:hover{
    background: rgb(33, 33, 194);
    color: rgb(230, 255, 1);
}

.sect1 .right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}