*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-color: rgba(251, 255, 0, 0.418);  */
    background-image: linear-gradient(0deg, rgb(249,155,6),rgb(213,182,13),rgb(255,236,8));
}

::-webkit-scrollbar{
    width: 0;
}

nav{
    width: 100%;
    height: 5vw;
    padding: 0 3vw;
    background-color: rgb(0, 9, 134);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    /* width: 5vw; */
    height: 100%;
    display: flex;
    align-items: center;
}

.logo .logo-img{
    width: 4vw;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .logo a{
    width: 100%;
    height: 100%;
} */

.logo-img img{
    width: 90%;
    height: 90%;
}

.logo .logo_txt{
    padding-top: 0.2vw;
    color: white;
    /* font-size: 2vw; */
    line-height: 1;
    color: yellow;
}

nav .search{
    width: 20%;
    height: 100%;
    margin-left: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input[type='search']{
    height: 50%;
    width: 100%;
    padding-left: 1.5vw;
    border-radius: 20px;
    border: none;
}

nav .nav_links{
    height: 100%;
    margin-right: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* border: 1px solid red; */
}

.link{
    padding: 1.5vw 0.5VW;
    font-size: 1.5vw;
    color: white;
    margin: 0 0.5vw;
    transition: 0.2s;
    border-bottom: 3px solid transparent;
    /* border: 1px solid red; */
}

.link:hover{
    color: yellow;
    border-bottom: 3px solid yellow;

}

.nav_links .nav_cat_opts{
    width: 15vw;
    padding: 0.5vw 0.2vw 1vw 0.2vw;
    background: white;
    position: absolute;
    bottom: -24.35vw;
    box-shadow: 0px 0px 5px 2px rgba(17, 17, 17, 0.593);
    display: none;
    left: 5vw;
    /* z-index: 2000; */
}
.categories{
    cursor: default;
}

.categories:hover .nav_cat_opts{
    display: block;
    /* bottom: -50.4vw; */
}

.nav_cat_opts .opts{
    width: 100%;
    margin: 0.4vw 0;
    padding: 0.5vw 0.5VW 0.5VW 1.8VW;
    color: rgb(10, 5, 113);
    font-size: 1.2vw;
    /* font-weight: bold; */
    /* border: 1px solid red; */
}

.opts:hover{
    background: rgb(29, 29, 159);
    color: rgb(242, 226, 5);
}

.sect1{
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.sect1 .left{
    width: 50%;
    padding: 0 0vw 0 5vw;
}

.left .heading{
    margin-bottom: 2vw;
}

.left .para{
    width: 95%;
    line-height: 1.2;
}

.btn_link{
    padding: 0.7vw 1.5vw;
    color: white;
    background: rgb(0, 9, 134);
    border: 1px solid rgba(0, 0, 255, 0.322);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(17, 17, 17, 0.27);
    transition: 0.2s;
    cursor: pointer;
}
.btn_link:hover{
    background: rgb(33, 33, 194);
    color: rgb(230, 255, 1);
    box-shadow: 0px 0px 5px 4px rgba(17, 17, 17, 0.23);
}

.sect1 .right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scss_mssg_cont{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.458);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.scss_mssg{
    width: 20%;
    height: 20%;
    position: relative;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.323);
}