<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link rel="stylesheet" href="/stylesheets/tables.css">
    <script src="https://kit.fontawesome.com/d1a2b3af9c.js" crossorigin="anonymous"></script>
    <title><%= title %></title>
</head>

<body>
    <div class="body_contain">
        <!--------- DASHBOARD MENU --------->
        <section class="dash_menu ">
            <a href="/" class="links">
                <div class="logo">
                    <div class="logo-img">
                        <img src="https://www.metuchenlibrary.org/wp-content/uploads/2014/08/large_cute-bookworm.png"
                        alt="logo">
                    </div>
                    <div class="logo_txt">
                        <h3 style="font-size: 0.8vw;">
                            Stony-Hill
                        </h3>
                        <h1 style="font-size: 1.2vw;">
                            Primary
                        </h1>
                        <h2 style="font-size: 0.6vw;">
                            School Library
                        </span>
                    </div>
                </div>
            </a>
            <div class="profil_info">
                <!-- <div class="profile_photo">
                    <img src="https://images.unsplash.com/photo-1627161684458-a62da52b51c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=549&q=80" alt="">
                </div> -->
                <p>Welcome</p>
                <span><%= my_session.admin_ttl %> <%= my_session.adm_lnm %></span>
            </div>
            <div class="dash_opts">
                
                <details class="option">
                    <summary><a href="/admin"><i class="fa-solid fa-house-user"></i>Dashboard</a></summary>
                </details>

                <details class="option">
                    <summary><a href="/admin/book-requests" title="View Book Requests"><i class="fa-solid fa-list-check"></i>Book Requests</a></summary>
                </details>

                <details class="option">
                    <summary><i class="fa-solid fa-clipboard"></i>Books<i class="fas fa-angle-down"></i></summary>
                    <p><a href="/admin/add-book" title="Add a New Item to the Menu"><i class="fa-solid fa-circle-plus"></i> Add Book</a></p>
                    <p><a href="/admin/books" title="View All Books">All Books</a></p>
                </details>
            </div>        
        </section>
    

        <!--------- BODY / MAIN --------->
        <section class="body_main ">
            <div class="top_bar">
                <div onclick="hideMenu()" title="Side Bar" class="menu_bars ">
                <i class="fa-solid fa-bars"></i>
                </div>
            </div>
            <h1>Register a New Book</h1>


            <section class="form_ctrl">
            
                <form action="/admin/save-book" method="post" class="bookRegForm">
                    <div class="table-contain">
                        <table>
                            <thead>
                                <tr>
                                    <th><label for="bk_ttl">Title</label></th>
                                    <th><label for="bk_athr">Author</label></th>
                                    <th><label for="bk_cat">Category</label></th>
                                    <th style="width: 30%;"><label for="bk_desc">Description</label></th>
                                    <th><label for="price">Action</label></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" id="bk_ttl" name="bk_ttl" placeholder="Book Name ">
                                    </td>
                                    <td>
                                        <input type="text" id="bk_athr" name="bk_athr" placeholder="Author's full name">
                                    </td>
                                    <td>
                                        <input type="text" id="bk_cat" name="bk_cat" placeholder="Book Category">
                                    </td>
                                    <td>
                                        <textarea type="text" id="bk_desc" name="bk_desc" Placeholder="Book Description"></textarea>
                                    </td>
                                    <td>
                                        <button type="submit" title="Save Book"><i class="fa-solid fa-cloud-arrow-up"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </section>

        </section>

    <script>
        function hideMenu(){
            document.querySelector('.dash_menu').classList.toggle('showHide');
            document.querySelector('.body_main').classList.toggle('width_adjust');
        }
    </script>
</body>
</html>